/* THis is the styling for itinarrarary information box */
.InfoBox {
    width:  "100%";
    height: "600px";
    margin: "30px";
    border:  "1px";
    border-style: solid;
    border-color: black;
    background-color: white;
}

.infoBox {
    background-color: red;
    border-style: solid;
    border-width: 1px;
}

.infoText {
    margin-left: 10px;
}

.tags {
    margin-right: 10px;
}

.smallImg {
    width:  5%;
    height: 5%;
}