.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.center {
  margin: auto;
  padding:50px
}

.Greeting {
  text-align: center;
  font-size: 160%;
}

.large-icon {
  width: 128px;
}

.icon {
  margin-left: auto;
  margin-right: auto;
  width: 32px;
}

.right {
  margin-right: auto;
  float: right;
}

.HeaderSection {
  margin-bottom:auto;
  margin-top: 5px;
}

.Control {
  width: 64px;
}

.Centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

table {
  width: 100%;
  color: red;
}

.fullPage {
  width: 100%;
  padding: 15px;
  text-align: center;
  vertical-align: center;
  background-color: red;
  color: red:
}


/* flex box ontainer */
.Flexbox {
    margin-left: 30px;
    width: 280px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-content: stretch; 
    flex-wrap: wrap;
}

.ScreenLayout_1 {
     width: 150px;
     height:180px;
     background-color: "gray";
     float: left;
}

.ScreenLayout_2 {
  width: 150px;
  height: 180px;
  background-color: "gray";
}

.ScreenLayout_3 {
  width: 150px;
  height:180px;
  background-color: "gray";
}

.ScreenLayout_4 {
  width: 150px;
  height: 180px;
  background-color: "gray";
}
